/* Ubuntu Regular */
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/ubuntu-font/Ubuntu-R.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Ubuntu Italic */
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/ubuntu-font/Ubuntu-RI.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Ubuntu Bold */
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/ubuntu-font/Ubuntu-B.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Ubuntu Bold Italic */
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/ubuntu-font/Ubuntu-BI.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Ubuntu Light */
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/ubuntu-font/Ubuntu-L.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Ubuntu Light Italic */
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/ubuntu-font/Ubuntu-LI.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Ubuntu Medium */
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/ubuntu-font/Ubuntu-M.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Ubuntu Medium Italic */
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/ubuntu-font/Ubuntu-MI.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Ubuntu Thin */
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/ubuntu-font/Ubuntu-Th.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

